/common/utils/human_model_files
/data/Custom/data/*
/data/NeuMan/data/*
/data/TalkShow/data/*
/data/ZJU_MoCap/data/*
!/data/*/data/.gitkeep

/output
/main/neutral_pose
/tools/images
nohup.out

__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
*.pdf

.vscode/
.claude/
.idea/
.DS_Store