/tools/SMPLest-X
/tools/mmpose
/tools/segment-anything
/tools/Depth-Anything-V2
/tools/DECA
/tools/COLMAP

/common/utils/human_model_files
/data/Custom/data/*
/data/NeuMan/data/*
!/data/Custom/data/.gitkeep
!/data/NeuMan/data/.gitkeep

/output
__pycache__/
*.py[cod]
*.pth
*.pth.tar
*.pt
*.ckpt
*.tar
*.pkl
*.npz
*.npy
*.zip
.vscode/
.idea/
.DS_Store
